{{>page/header}}
<h1>Request Detail Page</h1>
{{#if data.id}}
    <h2>Request #{{data.id}}</h2>
    <h2>Created on {{dateFormat data.createdAt "MMMM Do YYYY"}}</h2>
    <h2>Status: {{capitalizeFirstLetter data.status}}</h2>
    {{#if data.items}}
        <table class="item-listing">
            <tr>
                <th>Item Id</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price Each</th>
                <th>Needed By</th>
                <th>Expedited Shipping?</th>
                <th></th>
            </tr>
            {{#each data.items}} {{>request/itemTableRow this}} {{/each}}
        </table>
    {{/if}}
    {{#checkForComplete data.status}}
        <a href="/requests/{{data.id}}/addItem" class="add-item" data-clickable="addItemToReq" data-reqId="{{data.id}}">Add an item</a>
        <a href="/requests/{{data.id}}/delete" class="delete-request" data-clickable="deleteRequest" data-reqId="{{data.id}}">Delete Request</a>
    {{/checkForComplete}}
{{else}}
<h2>Request Not Found</h2>
{{/if}}
