{{>page/header}}
<header class="page-title">
    <div class="wrapper">
        <h1>Request Detail</h1>
    </div>
</header>
<nav class="page-nav">
    <div class="wrapper">
        <a href="/requests" class="back-to-dashboard page-nav-item"><i class="material-icons">arrow_back</i>Return to Dashboard</a>
    </div>
</nav>

{{#if data.id}}
    <header class="request-header">
        <div class="wrapper">
            <div class="request-header-wrap">
                <p class="status-text {{data.status}}">{{capitalizeFirstLetter data.status}}</p>
                <div class="request-header-group">
                    <p class="request-vendor"><b>Vendor: </b>{{data.vendor.name}}</p>               
                        <p class="request-data">Created on {{dateFormat data.createdAt "MMMM Do YYYY"}} by {{user.name.first}} {{user.name.last}} ({{user.email}})</p>
                </div>
            </div>
            <div class="request-action-box flex-horz-wrap">
                {{#checkForSubmitted data.status}}
                    <a href="/requests/{{data.id}}/submit" class="request-action submit-request" data-clickable="submitRequest" data-reqId="{{data.id}}"><i class="material-icons">send</i>Submit
                        Request</a>
                        <a href="/requests/{{data.id}}/delete" class="request-action delete-request" data-clickable="deleteRequest" data-reqId="{{data.id}}"><i                        class="material-icons">delete</i>Delete
                            Request</a>
                {{else}}
                    {{#checkForApproved data.status}}
                        <a href="/requests/{{data.id}}/approve" class="request-action approve-request" data-clickable="approveRequest" data-reqId="{{data.id}}"><i class="material-icons">thumb_up</i>Approve
                        Request</a>
                        <a href="/request/{{data.id}}/deny" class="request-action deny-request" data-clickable="denyRequest" data-reqId="{{data.id}}"><i class="material-icons">thumb_down</i>Deny
                        Request</a>
                        <a href="/request/{{data.id}}/unsubmit" class="request-action undo-submit" data-clickable="unsubmit" data-reqId="{{data.id}}"><i class="material-icons">undo</i>Unsubmit
                        Request</a>
                    {{/checkForApproved}}
                {{/checkForSubmitted}}
            </div>
        </div>
    </header>
    <div class="wrapper">
        <div class="flex-horz-wrap request-item-header-group">
            <h2 class="detail-page-header">Items Requested</h2>
            {{#checkForSubmitted data.status}}
            <a href="" id="toggle-add-item-form" class="toggle-add-item-form" data-clickable="toggleAddItemForm"><i class="material-icons">add</i>Add
                Item</a>
                </div>
            {{>request/addItemForm}}
            {{else}}
                </div>
            {{/checkForSubmitted}}
        
        <table class="item-listing">
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price Each</th>
                <th>Needed By</th>
                <th></th>
                <th></th>
            </tr>
            {{#if data.items}}
                {{#each data.items}}
                    {{>request/itemTableRow parent=..}}
                {{/each}}
            {{/if}}
        </table>
</div>
{{else}}
<div class="wrapper">
    <h2>Request Not Found</h2>
</div>
{{/if}}
<script type='text/javascript'>
    const pageContext = 'requestDetail';
    const userData = {{{json user}}};
</script>
