<tr class="data">
    <td>{{this.name}}</td>
    <td>{{this.qty}}</td>
    <td>{{this.pricePer}}</td>
    <td>{{dateFormat this.neededBy "MMMM Do YYYY"}}</td>
    
     {{#checkForApproved parent.data.status}}
        <td>
            <a href="{{parent.data.id}}/items/delete/{{this.id}}" class="view-request-link" data-item="{{this.id}}"><i class="material-icons">delete</i></a>
        </td>
    {{else}}
        <td></td>
    {{/checkForApproved}}
    <td>
        <a href="" class="view-more-info" data-item="{{this.id}}" data-clickable="toggleItemDetailView"><i class="material-icons" data-item="{{this.id}}" data-clickable="toggleItemDetailView">expand_more</i></a>
    </td>
</tr>
<tr class="additional-info-parent hidden" data-item-targeted="{{this.id}}">
    <td colspan="6" class="additional-info">
        <p><b>Expedited Shipping: </b>{{prettifyTrueFalse this.expeditedShipping}}</p>
        <p><b>Vendor Link: </b><a href="{{this.link}}" target="_new" class="item-link">{{this.link}}</a></p>
        <p class="notes"><b>Notes:</b> {{this.notes}}</p>
        
    </td>
</tr>
