<tr class="data">
    <td>{{this.id}}</td>
    <td>{{this.name}}</td>
    <td>{{this.qty}}</td>
    <td>{{this.pricePer}}</td>
    <td>{{dateFormat this.neededBy "MMMM Do YYYY"}}</td>
    <td>{{prettifyTrueFalse this.expeditedShipping}}</td>
    
     {{#checkForApproved parent.data.status}}
        <td rowspan="3">
            <a href="{{parent.data.id}}/items/delete/{{this.id}}" class="view-request-link" data-item="{{this.id}}">Remove</a>
        </td>
    {{/checkForApproved}}
</tr>
<tr class="link">
    <td class="link">Link:</td>
    <td colspan="5"><a href="{{this.link}}" target="_new" class="item-link"></a>{{this.link}}</td>
</tr>
<tr class="notes">
    <td class="notes">Notes:</td>
    <td colspan="5">{{this.notes}}</td>
</tr>
