{{!-- <tr>
    <td><a href="/requests/{{this.id}}" class="view-request-link" data-request="{{id}}">{{this.sequence}}</a></td>
    <td>{{dateFormat this.createdAt "MMMM Do YYYY"}}</td>
    <td>{{this.status}}</td>
    <td>{{this.requestor.name}}</td>
</tr> --}}

<article class="request {{this.status}}">
    <header class="request-summary-header">
        <p class="status left">{{#getIcon this.status}}{{/getIcon}}</p>
        <p class="status right">{{#toUppercase this.status}}{{/toUppercase}}</p>
        <div class="clearfix"></div>
    </header>
    <p class="request-total">{{#formatCurrency this.requestTotal }}{{/formatCurrency}}</p>
    <p class="vendor-name"><span class="vendor-label">Vendor: </span>
        {{this.vendor.name}}</p>
        {{#setViewActions this.status request=this.id requestor=this.requestor.id location="dashboard"}}
        This is some info in the set view actions.
        {{/setViewActions}}
</article>
