<article class="request {{status.forCode}}" data-reqId="{{id}}">
     {{viewActions}}
    <div class="summary">
        <header class="request-summary-header">
            <p class="status">{{status.forDisplay}}</p>
            <div class="clearfix"></div>
        </header>
        <div class="main-summary-section">
            <p class="request-total">{{requestTotal}}</p>
            <p class="vendor-name"><span class="vendor-label">Vendor: </span>
                {{vendorName}}</p>
            {{requestorHtml}}
        </div>
        <div class="item-list-container">
            {{#if items}}
                <i class="material-icons list-toggle" data-clickable="toggleRequestListView" data-reqId="{{id}}">
                list</i>
                <p class="item-list-title">Items in this Request</p>
                <ul class="item-list">
                    {{#each items}}
                        <li class="request-item">{{this.name}} - {{this.qty}} @ ${{this.pricePer}}</li>
                    {{/each}}
                    {{getAdditionalItemsHtml}}
                </ul>
            {{else}}
                <p class="no-items-msg">No Items Yet</p>
            {{/if}}
        </div>
    </div>
</article>
