<tr>
    <td><a href="/requests/{{this.id}}" class="view-request-link" data-request="{{id}}">{{this.sequence}}</a></td>
    <td>{{dateFormat this.createdAt "MMMM Do YYYY"}}</td>
    <td>{{this.status}}</td>
    <td>{{this.requestor.name}}</td>
</tr>
