<tr>
    <td>{{this.id}}</td>
    <td>{{dateFormat this.createdAt "MMMM Do YYYY"}}</td>
    <td>{{this.status}}</td>
    <td>{{this.requestorName}}</td>
    <td>
        <a href="#" class="view-request-link" data-request="{{id}}">View</a>
    </td>
</tr>
