{{!-- <tr>
    <td><a href="/requests/{{this.id}}" class="view-request-link" data-request="{{id}}">{{this.sequence}}</a></td>
    <td>{{dateFormat this.createdAt "MMMM Do YYYY"}}</td>
    <td>{{this.status}}</td>
    <td>{{this.requestor.name}}</td>
</tr> --}}

<article class="request {{this.status}}">
    <header class="request-summary-header">
        <h3 class="vendor-name">{{this.vendor.name}}</h3>
        <div class="vendor-info">
            <p class="vendor-url">{{this.vendor.url}}</p>
            <p class="vendor-phone">{{this.vendor.phone}}</p>
            <p class="vendor-contact">{{this.vendor.contactName}}</p>
            <p class="vendor-notes">{{this.vendor.notes}}</p>
        </div>
        <p class="status">{{this.status}}</p>
    </header>
    <p class="request-total">{{#formatCurrency this.requestTotal }}{{/formatCurrency}}</p>
        {{#setViewActions this.status request=this.id requestor=this.requestor.id location="dashboard"}}
        This is some info in the set view actions.
        {{/setViewActions}}
</article>
